<!DOCTYPE html>
<html>
<head>
    <title>Music Preferences</title>
</head>
<body>
    <h1>Select Your Preferred song</h1>
    <form method="POST">
        <label for="category">Select your preferred category:</label>
        <select name="category" id="category">
            <option value="Rock">Rock</option>
            <option value="Pop">Pop</option>
            <option value="Classical">Classical</option>
            <option value="Blues">Blues</option>
            <option value="Electronic music">Electronic music</option>
        </select>
        <input type="submit" value="Submit">
    </form>
    
</body>
</html>